/* Coolors Exported Palette - coolors.co/f75c03-f1c40f-d90368-2274a5-00cc66 */

/* HSL */
$color1: hsla(22%, 98%, 49%, 1);
$color2: hsla(48%, 89%, 50%, 1);
$color3: hsla(332%, 97%, 43%, 1);
$color4: hsla(202%, 66%, 39%, 1);
$color5: hsla(150%, 100%, 40%, 1);

/* RGB */
$color1: rgba(247, 92, 3, 1);
$color2: rgba(241, 196, 15, 1);
$color3: rgba(217, 3, 104, 1);
$color4: rgba(34, 116, 165, 1);
$color5: rgba(0, 204, 102, 1);